.outer-div{
    margin: auto;
    width: 45%;
    background: skyblue;
    padding: 10px;
    border-radius: 10px
}

.input-div{
    text-align: center;
    margin: 10px
}

.user-row{
    padding: 5px
}

.user{
    display: inline-block;
    width: 65%
}

.edit-user, .delete-user{
    margin: 5px
}

input{
    border: none;
    height: 20px;
    background: rgb(245, 245, 245);
    border-radius: 5px;
    padding: 5px
}

button{
    height: 28px;
    background: rgb(33, 99, 221);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px 5px 5px 0px;
}

h2{
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    color: rgb(255, 255, 255)
}

.dashboard{
    display: none
}

label{
    color: white;
    font-family: sans-serif
}